{% extends "template.njk" %}

{% import "_pattern_macros/navigation_card.njk" as navcard %}
{% import "_pattern_macros/general_card.njk" as generalcard %}

{% set title = "Next steps" %}

{% block main %}

  <section class="breadcrumbs">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-2">
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Care, support and health</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Health and wellbeing</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Healthy lifestyles</a></li>
          <li class="breadcrumb-item"><a href="{{ '/help-to-cut-back-on-your-drinking/' | url }}">Help to cut back on your drinking</a></li>
          <li class="breadcrumb-item active">Alcohol goals and plan</li>
        </ol>
      </nav>
    </div>
  </section>

  <section class="section_stage_theme">
    <div class="container">
      <h1 class="h2">Alcohol goals and plan</h1>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="col-12 col-md-9">
        <h2 class="h3 mb-2">Next steps</h2>
        <p>You may now want to look at potential obstacles you may face in achieving your goal and how to overcome them. Go to <a href="{{ '/' | url }}">Overcoming barriers and finding solutions</a> page.</p>
        <p>This form is part of a new service we are developing. If you have five minutes to spare, we would be grateful if you could <a href="{{ '/' | url }}">fill in a survey</a> about this form. If you would like to download a copy of your plan, click the 'Download PDF' button bellow.</p>
      </div>
    </div>

    <script>
      
      window.onload = function() {
        let parentElement = document.getElementById("selectedReasonsList");
        let parentElement2 = document.getElementById("selectedGoalsList");

        let reasons = getCookie('reasonsList');
        let goals = getCookie('goalsList');
        let reasonsArray = reasons.split(",");
        let goalsArray = goals.split(",");

        console.log(`cookie contents(reasons)= ${reasons}`);
        console.log(`cookie contents(goals)= ${goals}`);

        for (i = 0; i < reasonsArray.length; i++) {
          console.log(`reason ${i}= ${reasonsArray[i]}`)
          let item = document.createElement('li');
          item.innerHTML = reasonsArray[i];
          parentElement.appendChild(item);
        }

        for (i = 0; i < goalsArray.length; i++) {
          console.log(`goal ${i}= ${goalsArray[i]}`)
          addGoalDivWithPlan(goalsArray[i]);
        }
      }

      function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }

      function selectBtnOption(btnID) {
        let button = document.getElementById(btnID);
        button.classList.toggle("selected");
  
        if (btnID == "reason9") {
          x = document.getElementById("own-reason-area");

          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
      }

      function addCustomText(text) {
        console.log(`custom text= ${text}`);
        addReasonDiv(text);
      }

      function addCustomOption(text) {
        let ownGoalTextArea = document.getElementById("ownGoal");

        if (ownGoalTextArea.value === "") {
          console.log("reasons empty, returning");
          ownGoalTextArea.classList.add("error");
          return;
        }
        ownGoalTextArea.classList.remove("error");

        let parentElement = document.getElementById("goalsList");
        let divWrapper = document.createElement('div');
        let input = document.createElement('input');
        let label = document.createElement('label');
        
        divWrapper.classList.add("form-check");
        divWrapper.classList.add("reasons-checkbox");
        divWrapper.classList.add("custom-reason-checkbox");

        input.classList.add("form-check-input");
        input.classList.add("reasons-input");
        input.name = "goalOption";
        input.type = "checkbox";
        input.value = "goalsCustomX";
        input.id = "goalsCustomX";
        input.checked = true;

        label.classList.add("form-check-label");       
        label.htmlFor = "goalsCustomX";       
        label.innerHTML = text;       

        parentElement.appendChild(divWrapper);
        divWrapper.appendChild(input);
        divWrapper.appendChild(label);

        ownGoalTextArea.value = "";
      }

      function addReasonDiv(text) {
        let parentElement = document.getElementById("goals-area-row");
        let column = document.createElement('div');
        let newElement = document.createElement('div');

        column.classList.add("col-12");
        column.classList.add("col-md-5");
        newElement.classList.add("interactive-text-box");
        newElement.innerHTML = text;
        
        parentElement.appendChild(column);
        column.appendChild(newElement);
      }
      function addGoalDivWithPlan(text) {
        /* encodedID = btoa(text);

        console.log(`encoded text = ${encodedID}`) */

        encodedID = btoa(unescape(encodeURIComponent(text)));

        let parentElement = document.getElementById("goals-area-row");
        let column = document.createElement('div');
        let newElement = document.createElement('div');
        let newButton = document.createElement('button');

        column.classList.add("col-12");
        column.classList.add("col-md-5");
        newElement.classList.add("interactive-text-box");
        newElement.innerHTML = text;
        newElement.id = `actionbox-${encodedID}`;
        
        newButton.classList.add("btn");
        newButton.classList.add("btn-success");
        newButton.classList.add("btn-lg");
        newButton.classList.add("action-plan-btn");
        newButton.id = `actionplanbtn-${encodedID}`;
        newButton.onclick = function() { addActionPlan(newButton.id); };
        newButton.type = "button";
        newButton.innerHTML = "Add action plan";


        parentElement.appendChild(column);
        column.appendChild(newElement);
        createActionPlanDiv(column);
        column.appendChild(newButton);
      }

      function clearItems() {
        let parentElement = document.getElementById("goals-area-row");
        let children = parentElement.childNodes;

        while (children.length > 2) {
          let child = parentElement.lastElementChild;
          console.log(`child id= ${child.id}`);
          if (child.id != "addGoalsDiv")
            parentElement.removeChild(child);
          else break;
        }
      }

      function addActionPlan(btn) {
        const idString = btn.split("-");
        let actionBox = document.getElementById(`actionbox-${idString[1]}`);

        if (actionBox.classList.contains("actionbox-active")) {
          actionBox.classList.remove("actionbox-active");
          actionBox.nextElementSibling.classList.remove("actionbox-active");
        } else {
          actionBox.classList.add("actionbox-active");
          actionBox.nextElementSibling.classList.add("actionbox-active");
        }


      }

      function submitFormConfirm(checkboxObject) {

        clearItems();

        let selectedChoices = null;

        for (var i = 0; i < checkboxObject.length; i++) {
          console.log(`checkbox ${i} = ${checkboxObject[i].checked}`);
          if (checkboxObject[i].checked) {
            let reasonText = checkboxObject[i].nextElementSibling.innerHTML;
            console.log(`sibling text=${reasonText}`);
            addReasonDiv(reasonText);
          }
        }
      }

      function createActionPlanDiv(parentColumn) {
        let actionPlanDiv = document.createElement('div');
        actionPlanDiv.classList.add("action-plan-area");
        actionPlanDiv.innerHTML = `
          <h4>Action plan</h4>
          <h5 class="h6">When</h5>
          <input class="form-control form-text mb-3" type="text" placeholder="For example, Saturday night" aria-label="Action plan - when">
          <h5 class="h6">Where (setting or environment)</h5>
          <input class="form-control form-text mb-3" type="text" placeholder="For example, at home" aria-label="Action plan - where">
          <h5 class="h6">What</h5>
          <input class="form-control form-text mb-3" type="text" placeholder="For example, drinking non-alcohol" aria-label="Action plan - what">
        `;
        parentColumn.appendChild(actionPlanDiv);
      }

    </script>

  </section>
{% endblock %}
