{% extends "template.njk" %}

{% import "_pattern_macros/navigation_card.njk" as navcard %}
{% import "_pattern_macros/general_card.njk" as generalcard %}

{% set title = "Your reasons for change" %}

{% block main %}

  <section class="breadcrumbs">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-2">
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Care, support and health</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Health and wellbeing</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Healthy lifestyles</a></li>
          <li class="breadcrumb-item"><a href="{{ '/help-to-cut-back-on-your-drinking/' | url }}">Help to cut back on your drinking</a></li>
          <li class="breadcrumb-item active">Alcohol goals and plan</li>
        </ol>
      </nav>
    </div>
  </section>

  <section class="section_stage_theme">
    <div class="container">
      <h1 class="h2">Alcohol goals and plan</h1>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="col-12 col-md-9">
        <h2 class="h3 mb-2">Your reasons for change</h2>
        <p>Think about the most important reason or reasons why you want to cut down your drinking. It can be helpful to note down this reason and to remind yourself of it.</p>
        
        <h3 class="h4 mb-2 mt-5" style="font-weight: 700">The most important reason/s for wanting to lower my drinking is/are:</h3>

        <div class="row py-4">
          <div class="col-12 col-md-5">
            <div class="interactive-text-box empty">
              <button class="text-box-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 0 24 24" width="32px" fill="#6c757d" class="me-2"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
                <p class="placeholder-text">Add reason</p>
              </button>
            </div>
          </div>
          <div class="col-12 col-md-5">
            <div class="interactive-text-box">
              Think about the most important reason or reasons why you want to cut down your drinking. It can be helpful to note down this reason and to remind yourself of it.
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Reasons</h4>
                <button type="button" class="offcanvas-close-button btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close preview gallery"></button>
              </div>
              <div class="modal-body">
                <div class="modal-selection-list">
                  <button class="modal-selection-btn" id="reason1" onclick="selectBtnOption(this.id);">
                    <p>To be healthier</p>  
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#1C995D"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
                  </button>
                  <button class="modal-selection-btn" id="reason2" onclick="selectBtnOption(this.id);">
                    <p>To save money</p>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#1C995D"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
                  </button>
                  <button class="modal-selection-btn" id="reason3" onclick="selectBtnOption(this.id);">
                    <p>No more hangovers</p>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#1C995D"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
                  </button>
                  <button class="modal-selection-btn" id="reason4" onclick="selectBtnOption(this.id);">
                    <p>Gain self-confidence</p>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#1C995D"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
                  </button>
                  <button class="modal-selection-btn" id="reason5" onclick="selectBtnOption(this.id);">
                    <p>Gain optimism</p>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#1C995D"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
                  </button>
                  <button class="modal-selection-btn" id="reason6" onclick="selectBtnOption(this.id);">
                    <p>You feel better</p>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#1C995D"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
                  </button>
                  <button class="modal-selection-btn" id="reason7" onclick="selectBtnOption(this.id);">
                    <p>Your brain heals</p>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#1C995D"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
                  </button>
                  <button class="modal-selection-btn" id="reason8" onclick="selectBtnOption(this.id);">
                    <p>No more guilt over your drinking</p>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#1C995D"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
                  </button>
                  <button class="modal-selection-btn" id="reason9" onclick="selectBtnOption(this.id);">
                    <p>My own reason</p>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#1C995D"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
                  </button>
                  <div id="own-reason-area">                 
                    <p class="reason-custom-label">Add your own reason:</p>
                    <textarea class="selection-textarea" id="ownReason" name="reason-custom" rows="4" cols="50"></textarea>
                    <div>
                      <button class="btn btn-primary btn-lg">Add reason</button>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn form-btn">Confirm reasons</button>
              </div>
            </div>
          </div>
        </div>

        <div class="double-btn-group">
          <input type="button" class="btn btn-lg form-btn form-btn-muted my-3 mx-2" value="Previous" id="submit" onclick="submitForm();"></input>
          <input type="button" class="btn btn-lg form-btn my-3 mx-2" value="Continue" id="submit" onclick="submitForm();"></input>
        </div>
      </div>
    </div>

    <script>
      
      function selectBtnOption(btnID) {
        let button = document.getElementById(btnID);
        button.classList.toggle("selected");
  
        if (btnID == "reason9") {
          x = document.getElementById("own-reason-area");

          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
      }

    </script>

  </section>
{% endblock %}
