{% extends "template.njk" %}

{% import "_pattern_macros/navigation_card.njk" as navcard %}
{% import "_pattern_macros/general_card.njk" as generalcard %}

{% set title = "Your reasons for change" %}

{% block main %}

  <section class="breadcrumbs">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-2">
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Care, support and health</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Health and wellbeing</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Healthy lifestyles</a></li>
          <li class="breadcrumb-item"><a href="{{ '/help-to-cut-back-on-your-drinking/' | url }}">Help to cut back on your drinking</a></li>
          <li class="breadcrumb-item active">Alcohol goals and plan</li>
        </ol>
      </nav>
    </div>
  </section>

  <section class="section_stage_theme">
    <div class="container">
      <h1 class="h2">Alcohol goals and plan</h1>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="col-12 col-md-9">
        <h2 class="h3 mb-2">Your reasons for change</h2>
        <p>Think about the most important reason or reasons why you want to cut down your drinking. It can be helpful to note down this reason and to remind yourself of it.</p>
        
        <h3 class="h4 mb-2 mt-5" style="font-weight: 700">The most important reason/s for wanting to lower my drinking is/are:</h3>

        <div class="row py-4" id="reasons-area-row">
          <div class="col-12 col-md-5" id="addReasonsDiv">
            <div class="interactive-text-box empty">
              <button class="text-box-btn" data-bs-toggle="modal" data-bs-target="#reasonsModal">
                <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 0 24 24" width="32px" fill="#6c757d" class="me-2"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
                <p class="placeholder-text">Add reason</p>
              </button>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="reasonsModal" tabindex="-1" aria-labelledby="reasonsModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="reasonsModalLabel">Reasons</h4>
                <button type="button" class="modal-close-button btn-close text-reset" data-bs-dismiss="modal" aria-label="Close reasons window"></button>
              </div>
              <form id="reasonsForm">
                <div class="modal-body">
                  <div class="modal-selection-list">
                    <div id="reasonsList">
                    <div class="form-check reasons-checkbox">
                      <input class="form-check-input reasons-input" name="reasonsOption" type="checkbox" value="To be healthier" id="reason1">
                      <label class="form-check-label" for="reason1">
                        To be healthier
                      </label>
                    </div>
                    <div class="form-check reasons-checkbox">
                      <input class="form-check-input reasons-input" name="reasonsOption" type="checkbox" value="Save money" id="reason2">
                      <label class="form-check-label" for="reason2">
                        Save money 
                      </label>
                    </div>
                    <div class="form-check reasons-checkbox">
                      <input class="form-check-input reasons-input" name="reasonsOption" type="checkbox" value="No more hangovers" id="reason3">
                      <label class="form-check-label" for="reason3">
                        No more hangovers
                      </label>
                    </div>
                    <div class="form-check reasons-checkbox">
                      <input class="form-check-input reasons-input" name="reasonsOption" type="checkbox" value="Gain self-confidence" id="reason4">
                      <label class="form-check-label" for="reason4">
                        Gain self-confidence
                      </label>
                    </div>
                    <div class="form-check reasons-checkbox">
                      <input class="form-check-input reasons-input" name="reasonsOption" type="checkbox" value="Gain optimism" id="reason5">
                      <label class="form-check-label" for="reason5">
                        Gain optimism
                      </label>
                    </div>
                    <div class="form-check reasons-checkbox">
                      <input class="form-check-input reasons-input" name="reasonsOption" type="checkbox" value="You feel better" id="reason6">
                      <label class="form-check-label" for="reason6">
                        You feel better
                      </label>
                    </div>
                    <div class="form-check reasons-checkbox">
                      <input class="form-check-input reasons-input" name="reasonsOption" type="checkbox" value="Your brain heals" id="reason7">
                      <label class="form-check-label" for="reason7">
                        Your brain heals
                      </label>
                    </div>
                    <div class="form-check reasons-checkbox">
                      <input class="form-check-input reasons-input" name="reasonsOption" type="checkbox" value="No more guilt over your drinking" id="reason8">
                      <label class="form-check-label" for="reason8">
                        No more guilt over your drinking
                      </label>
                    </div>
                    </div>
                    <div id="own-reason-area">                 
                      <p class="reason-custom-label">Add your own reason:</p>
                      <textarea class="selection-textarea" id="ownReason" name="reason-custom" rows="4" cols="50"></textarea>
                      <div>
                        <button class="btn btn-primary btn-lg" onclick="addCustomOption(document.getElementById('ownReason').value);" type="button">Add reason</button>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn form-btn" data-bs-dismiss="modal" onclick="submitFormConfirm(this.form.reasonsOption);">Confirm reasons</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="double-btn-group">
          <input type="button" class="btn btn-lg form-btn form-btn-muted my-3 mx-2" value="Previous" id="submit" onclick="submitFormBack();"></input>
          <input type="button" class="btn btn-lg form-btn my-3 mx-2" value="Continue" id="submit" onclick="submitFormContinue(reasonsForm.reasonsOption);"></input>
        </div>
      </div>
    </div>

    <script>
      
      function selectBtnOption(btnID) {
        let button = document.getElementById(btnID);
        button.classList.toggle("selected");
  
        if (btnID == "reason9") {
          x = document.getElementById("own-reason-area");

          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
      }

      function addCustomOption(text) {
        let ownReasonTextArea = document.getElementById("ownReason");

        if (ownReasonTextArea.value === "") {
          console.log("reasons empty, returning");
          ownReasonTextArea.classList.add("error");
          return;
        }
        ownReasonTextArea.classList.remove("error");

        let parentElement = document.getElementById("reasonsList");
        let divWrapper = document.createElement('div');
        let input = document.createElement('input');
        let label = document.createElement('label');
        
        divWrapper.classList.add("form-check");
        divWrapper.classList.add("reasons-checkbox");
        divWrapper.classList.add("custom-reason-checkbox");

        input.classList.add("form-check-input");
        input.classList.add("reasons-input");
        input.name = "reasonsOption";
        input.type = "checkbox";
        input.value = text;
        input.id = "reasonCustomX";
        input.checked = true;

        label.classList.add("form-check-label");       
        label.htmlFor = "reasonCustomX";       
        label.innerHTML = text;       

        parentElement.appendChild(divWrapper);
        divWrapper.appendChild(input);
        divWrapper.appendChild(label);

        ownReasonTextArea.value = "";
      }

      function addReasonDiv(text) {
        let parentElement = document.getElementById("reasons-area-row");
        let column = document.createElement('div');
        let newElement = document.createElement('div');

        column.classList.add("col-12");
        column.classList.add("col-md-5");
        newElement.classList.add("interactive-text-box");
        newElement.innerHTML = text;
        
        parentElement.appendChild(column);
        column.appendChild(newElement);
      }

      function clearItems() {
        let parentElement = document.getElementById("reasons-area-row");
        let children = parentElement.childNodes;

        while (children.length > 2) {
          let child = parentElement.lastElementChild;
          console.log(`child id= ${child.id}`);
          if (child.id != "addReasonsDiv")
            parentElement.removeChild(child);
          else break;
        }
      }

      function submitFormConfirm(checkboxObject) {

        clearItems();

        let selectedChoices = null;

        for (var i = 0; i < checkboxObject.length; i++) {
          console.log(`checkbox ${i} = ${checkboxObject[i].checked}`);
          if (checkboxObject[i].checked) {
            let reasonText = checkboxObject[i].nextElementSibling.innerHTML;
            console.log(`sibling text=${reasonText}`);
            addReasonDiv(reasonText);
          }
        }
      }

      function submitFormContinue(reasons) {
        let reasonsList = [];

        for (var i = 0; i < reasons.length; i++) {
          if (reasons[i].checked) {
            text = reasons[i].value;
            reasonsList.push(text);
            console.log(`added reason ${text}`);
          }
        }

        console.log(`list of reasons= ${reasonsList}`);

        let hour = 1/24;
        setCookie('reasonsList', reasonsList, hour);

        window.location.href = "{{ '/alcohol-goals-and-plan/goal-setting' | url }}";
      }

      function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        let expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }

    </script>

  </section>
{% endblock %}
