{% extends "template.njk" %}

{% import "_pattern_macros/navigation_card.njk" as navcard %}
{% import "_pattern_macros/general_card.njk" as generalcard %}

{% set title = "Your reasons for change" %}

{% block main %}

  <section class="breadcrumbs">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-2">
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Care, support and health</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Health and wellbeing</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Healthy lifestyles</a></li>
          <li class="breadcrumb-item"><a href="{{ '/help-to-cut-back-on-your-drinking/' | url }}">Help to cut back on your drinking</a></li>
          <li class="breadcrumb-item active">Alcohol goals and plan</li>
        </ol>
      </nav>
    </div>
  </section>

  <section class="section_stage_theme">
    <div class="container">
      <h1 class="h2">Alcohol goals and plan</h1>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="col-12 col-md-9">
        <h2 class="h3 mb-2">Your reasons for change</h2>
        <p>Think about the most important reason or reasons why you want to cut down your drinking. It can be helpful to note down this reason and to remind yourself of it.</p>
        
        <h3 class="h4 mb-2 mt-5" style="font-weight: 700">The most important reason/s for wanting to lower my drinking is/are:</h3>

        <div class="row py-4">
          <div class="col-12 col-md-5">
            <div class="interactive-text-box empty">
              <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 0 24 24" width="32px" fill="#6c757d" class="me-2"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
              <p class="placeholder-text">Add reason</p>
            </div>
          </div>
          <div class="col-12 col-md-5">
            <div class="interactive-text-box">
              Think about the most important reason or reasons why you want to cut down your drinking. It can be helpful to note down this reason and to remind yourself of it.
            </div>
          </div>
        </div>

        <div class="double-btn-group">
          <input type="button" class="btn btn-lg form-btn form-btn-muted my-3 mx-2" value="Previous" id="submit" onclick="submitForm();"></input>
          <input type="button" class="btn btn-lg form-btn my-3 mx-2" value="Continue" id="submit" onclick="submitForm();"></input>
        </div>
      </div>
    </div>

    <script>
      function submitForm(checkObject1, checkObject2, checkObject3) {
        let selectedInput = null;

        let value1 = false;
        let value2 = false;
        let value3 = false;

        // if (checkObject1.checked) {
        //   value1 = checkObject1.value;
        // }
        // if (checkObject2.checked) {
        //   value2 = checkObject2.value;
        // }
        // if (checkObject3.checked) {
        //   value3 = checkObject3.value;
        // }

        // doesnt work currently, will fix later

        console.log(`value1 = ${value1}, value2 = ${value2}, value3 = ${value3}`);
        let hour = 1/24;
        setCookie('q1answer', value1, hour);
        setCookie('q2answer', value2, hour);
        setCookie('q3answer', value3, hour);

        window.location.href = "{{ '/' | url }}";
      }

      function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        let expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }
    </script>

  </section>
{% endblock %}
