.form-check {
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  label {
    margin-left: 10px;
    font-size: 1.125rem;
    font-weight: 500;
  }

  input[type=checkbox] {
    width: 44px !important;
    height: 44px !important;
    min-width: 44px !important;
    min-height: 44px !important;
    border: solid $dark 2px;
    border-radius: 0;
    
    @include media-breakpoint-down(md) {
      width: 30px !important;
      height: 30px !important;
      min-width: 30px !important;
      min-height: 30px !important;
    }

    &:focus, &:focus-visible {
      box-shadow: none;
      outline: solid 5px $focus-colour;
      border: solid $focus-text-colour 5px;
      border-radius: 0;
      outline-offset: 0;
      // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.95' fill='50505'/%3e%3c/svg%3e");
    }
    &:active {
      filter: none;
    }
  }
}

.form-check.radio-form {
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  label {
    margin-left: 10px;
    font-size: 1.125rem;
    font-weight: 500;
  }

  input {
    width: 44px;
    height: 44px;
    border: solid $dark 2px;

    &:focus, &:focus-visible {
      box-shadow: none;
      outline: solid 5px $focus-colour;
      border: solid $focus-text-colour 5px;
      outline-offset: 0;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.95' fill='50505'/%3e%3c/svg%3e");
    }
    &:active {
      filter: none;
    }
  }
}

input.form-btn {
  background-color: #1C995D;
  color: $light;
  font-size: 1.325rem;
  font-weight: 600;
  @include ani;

  @include media-breakpoint-down(md) {
    font-size: 1.25rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.125rem;
    white-space: normal;
  }

  &:hover {
    background-color: #18814e;
    color: white;
  }
  &:focus {
    background-color: $focus-colour;
    color: $focus-text-colour;
    outline: solid $focus-text-colour 3px;
    box-shadow: none;
    transition: none;
  }
}

.question-number {
  margin-bottom: 5px;
  color: $gray-600;
  font-weight: 600;
}
.question-title {
  margin-bottom: 20px;
}