{% extends "template.njk" %}

{% import "_pattern_macros/navigation_card.njk" as navcard %}
{% import "_pattern_macros/general_card.njk" as generalcard %}

{% set title = "Healthy Lifestyles" %}

{% block main %}

  <section class="breadcrumbs">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-2">
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Care, support and health</a></li>
          <li class="breadcrumb-item"><a href="{{ '/' | url }}">Health and wellbeing</a></li>
          <li class="breadcrumb-item active">Healthy lifestyles</li>
        </ol>
      </nav>
    </div>
  </section>

  <div class="stage" id="healthyLifestylesStage" style="background-image: url('/Healthy-Lifestyles-test/public/img/beach.jpg')">
  </div>

  <section>
    <div class="container">
      <div class="row {{rowDefaults}}">
        <div class="col-12 col-sm-6 col-md-4">
          {{ generalcard.generalcard('Help to cut back on your drinking', '', '', '', '', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'wine.jpg', 'help-to-cut-back-on-your-drinking', 'card-light') }}
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          {{ generalcard.generalcard('How to achieve a healthy diet', '', '', '', '', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'food.jpg', 'help-to-cut-back-on-your-drinking', 'card-light') }}
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          {{ generalcard.generalcard('Help to quit smoking', '', '', '', '', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'smoke.jpg', 'help-to-cut-back-on-your-drinking', 'card-light') }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
