{% extends "template.njk" %}
{% block main %}
  <section>
    <div class="container py-5">
      <h3>Choose something from this list</h3>
      <form>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Thing 1
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Thing 2
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
          <label class="form-check-label" for="flexRadioDefault3">
            Thing 3
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
          <label class="form-check-label" for="flexRadioDefault4">
            Thing 4
          </label>
        </div>
        <input type="button" class="btn btn-primary btn-lg my-3" value="Submit" id="submit" onclick="putCookie(document.getElementsByTagName('form'));"></input>
      </form>

      <script>
        {# var today = new Date();
        var expiry = new Date(today.getTime() + 2 * 24 * 3600 * 1000); // plus 2 days

        function setCookie(name, value) {
          document.cookie = name + "=" + escape(value) + "; path=/; expires=" + expiry.toGMTString();
        }
        function putCookie(form) {
          setCookie("formResult", form[0].usrname.value);
          return true;
        } #}
      </script>
    </div>
  </section>
{% endblock %}
